<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1021392336284-q4h16bcmqq47i7qj78902a80tf3e1sev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021392336284-q4h16bcmqq47i7qj78902a80tf3e1sev</string>
	<key>API_KEY</key>
	<string>AIzaSyBYSWwSwHccVBghJiL01_hxsO-PRFZgHOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1021392336284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nicksdev.kicked</string>
	<key>PROJECT_ID</key>
	<string>kickd-5f9ae</string>
	<key>STORAGE_BUCKET</key>
	<string>kickd-5f9ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021392336284:ios:0d81c19b9504d737</string>
	<key>DATABASE_URL</key>
	<string>https://kickd-5f9ae.firebaseio.com</string>
</dict>
</plist>